* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto-Sans", sans-serif;
}

html {
  background-color: rgb(112, 100, 193);
}

body {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.container {
  height: 650px;
  width: 366px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(145, 135, 211);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

i {
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

i:hover {
  color: rgb(80, 71, 143);
}

/* i.active{
  color: var(--primary-color)
} */
 
.top {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  z-index: 10;
  gap: 24px;
}

.searchbar {
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 2px 14px;
  flex-grow: 1;
  opacity: 0;
  transition: all 0.1s;
  animation-name: none;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.showSearchbar {
  opacity: 0.8;
  animation-name: showSearchbar;
}

.hideSearchbar {
  animation-name: hideSearchbar;
}

.searchbar::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.searchbar:hover::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.searchbar:focus::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

@keyframes showSearchbar {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 0.8;
    transform: scaleY(1);
  }
}

@keyframes hideSearchbar {
  0% {
    opacity: 0.8;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

.filteredSongs {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.8);
  color: #333;
  padding: 4px;
  width: 90%;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.filteredSong {
  padding: 3px;
  border-bottom: solid 1px gray;
  border-radius: 4px;
}

.filteredSong:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.filteredSong:last-child {
  border-bottom: none;
}

.cover-image {
  width: 100%;
  height: 366px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./images/music-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transform-origin: 0% 0%;
}

.container.active .cover-image {
  transform: scale(0.251);
  left: 23px;
  top: 60px;
  border-radius: 20px;
}

.player-body {
  position: absolute;
  top: 366px;
  left: 0;
  height: 286px;
  width: 100%;
  background-color: black;
  transition: all 0.3s;
}

audio {
  display: none;
}

.container.active .player-body{
  height: 470px;
  left: 0;
  top: 180px;
}

audio {
  width: 100%;
}

.list-wrapper {
  height: 425px;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 378px;
  transform-origin: 0% 0%;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}

.container.active .list-wrapper {
  top: 182px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.list {
  display: flex;
  flex-direction: column; /* Vertikale Ausrichtung der Songs */
  gap: 10px; /* Abstand zwischen den Songs */
  padding: 10px;
}

.song {
  display: grid;
  grid-template-columns:  40px 2fr 2fr 1fr 30px ;
  align-items: center;
  background-color: black;
  padding: 15px;
  transition: background-color 0.3s;
}

.title,
.length,
.artist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.number {
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}

.song .fa-heart {
  justify-self: flex-end;
  margin-left: 20px;

}

.title {
  justify-content: flex-start;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.artist {
  justify-content: flex-start;
  font-size: 14px;
  color: #bbbbbb;
}

.length {
  justify-content: flex-end; /* Länge rechts ausrichten */
  font-size: 14px;
  color: #bbbbbb;
}
.song:hover .title {
  padding-left: 5px;
  transition: all 0.3s;
  background-color: #222;
}
.list-wrapper::-webkit-scrollbar {
  width: 8px;
}
/* .list-wrapper::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.list-wrapper::-webkit-scrollbar-track {
  background-color: #1a1a1a;
} */
.current-song-title {
  position: absolute;
  right: 23px;
  font-size: 14px;
  bottom: -60px;
  transition: all 0.3s;
}

.container.active .current-song-title {
  bottom: 10px;
}

.info {
  position: absolute;
  left: 50%;
  top: 440px;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.3s;
}

.info h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.info h3 {
  font-size: 10px;
  color: #6d6d6d;
}

.container.active .info {
  top: 66px;
  left: 126px;
  text-align: left;
  transform: translate(0);
  color: #111;
}

.controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 80px;
  z-index: 10;
  transition: all 0.3s;
 }

.controls #playpause {
  font-size: 40px;
}
.container.active .controls {
  position: absolute;
  width: 260px;
  top: 100px;
  transform: scale(0.45) translateX(40%);
  gap: 60px;
 
}
.controls i:hover {
  transform: scale(1.2);
}

.more-controls {
  font-size: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
  transition: all 0.3s;
}

.container.active .more-controls {
  bottom: -60px;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 165px;
}

.progress-bar {
  width: 80%;
  height: 5px;
  appearance: none;
  background: #ccc;
  outline: none;
  margin: 0 10px;
}
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #6b645f;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#current-time,
#duration {
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
  margin-right: 5px;
}
